@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
 margin:0;
 padding:0;
}
body{
    background:white;
    font-family: 'Source Sans 3', sans-serif;

    display: grid;
    grid-template-areas: "e d" "f f";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}
ion-icon{
    padding-top: 8px;
    padding-right: 8px;
}
ul{
    list-style: none;
}
.conteudo{
    background: white;

    max-width: 800px;
    padding-left: 100px;

    grid-area: d;
}
.esquerda{
    width: 300px;
    color: white;
    font-size: 16px;
    background: #335384;
    padding-left: 20px;
    grid-area: e;
}
.footer{
    background: #35588b;
    grid-area: f;
}
.foto img{
    width: 250px;
    padding-left: 15px;
}
.contato{
    padding-bottom: 50px;
}
.contato li{
    padding-top: 10px;
}
.habilidades{
    padding-bottom: 50px;
}
.habilidades li{
    padding-top: 20px;
}
.habilidades img{
    padding-right: 10px;
    padding-top: 20px;

    width: 40px;
    display: block;
    float: left;
}
.soft ul{
    padding-left: 18px;
    padding-bottom: 50px;
}
.soft li{
    padding-top: 15px;

    list-style:outside;
}
.nome{
    padding-top: 40px;
    padding-bottom: 60px;
}
.conteudo h1{
    color:#335384;
    font-family: 'Oswald', sans-serif;
}
.conteudo h2{
    color:#335384;
    letter-spacing: 5px;
    padding-bottom: 10px;
}
.conteudo span{
    color: #4d7288;
}
.conteudo hr{
    background-color: #335384;
    height: 2px;
    width: 60px;   
}
.apresentacao{
    padding-bottom: 30px;
    word-break: break-all;
}
.formacao{
    padding-bottom: 30px;
}
.exp{
    padding-bottom: 30px;
}
.exp li{
    padding-top: 15px;
    padding-bottom: 10px;
}
a{
    font-size: 14px;
    color: white;
}
[data-tooltip] {
    position: relative;
    font-weight: bold;
  } 
[data-tooltip]:after {
    display: none;
    position: absolute;
    top: -5px;
    padding: 5px;
    border-radius: 3px;
    left: calc(100% + 2px);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: #335384;
    color: White;
    font-size: 13px;
    font-family:'Source Sans 3', sans-serif;
    font-weight: 500;
  }
[data-tooltip]:hover:after{
    display: block;
  }
[data-hab] {
    position: relative;

  } 
[data-hab]:after {
    display: none;
    position: absolute;
    top: 15px;
    padding: 5px;
    border-radius: 3px;
    left: 65%;
    content: attr(data-hab);
    white-space: nowrap;
    background-color: white;
    color: #335384;
    font-size: 13px;
    font-family:'Source Sans 3', sans-serif;
    font-weight: 500;
  }
[data-hab]:hover:after{
    display: block;
  }

/*  @media screen and (max-width:820px){
    .body{
        grid-template-areas: "e e" "d d" "ff";
        grid-template-columns: 4fr;
    }
    .foto img{
        width: 100px;
        padding-left: -10px;

    }
    .conteudo{
        padding-left: -100px;
    }
    .esquerda{
        width: 150px;
    }
    .apresentacao{
        display: none;
    }
    .contato{
        display: none;
    }
}
@media screen and (max-width:480px){
    .obj{
        display: none;
    }
    .header{
        display: none;
    }
    .formacao{
        display: none;
    }  
    .container{
        grid-template-areas: "n" "m" "f";

    }
}
*/